<div class="row" *ngIf="!isMobileView">
    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></span>
    <span class="col-lg-10 col-md-10 col-sm-10 col-xs-10 side_menu_div" >
        <img src="../assets/img/logo.png" alt="logo" width="150" class="logo side_menu_icon"/>
        <div *ngFor="let item of menu"  [ngClass]="item.active ? 'menu-div row menu-active':'menu-div row'">
            <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 .side_menu_logo" >
                <img src="../assets/img/{{item.icon}}" class="menu-logo logo-padding" alt="logo" style="align-items: center;"/>
            </span>
            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad_left_0" >
                <span [ngClass]="item.active ? 'menu-labels highlight' : 'menu-labels'">{{item.name}}</span>
            </span>
        <span *ngIf="item.subMenu" class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
            <img src="../assets/img/arrow.png" alt="arrow"/>
        </span>
        </div>
    </span>
</div>
<div class="" *ngIf="isMobileView" style="display: flex;margin-bottom: 2%;">
    <!-- <img src="../assets/img/logo.png" alt="logo" width="150" style="align-items: center;margin-bottom: 10%;" class="logo"/> -->
    <div class="" (click)="menuShow = !menuShow">
       <img *ngIf="!menuShow" src="../assets/img/menu.png" alt="menu" height="20" style="margin-top:.7rem;cursor:pointer" />
       <img *ngIf="menuShow" src="../assets/img/close.png" alt="menu" height="20" style="margin-top:.7rem;cursor:pointer" />
    </div>
    <div class="" style="left:0;right:0;text-align: center;justify-content: center;width: -webkit-fill-available;">
        <img src="../assets/img/logo.png" alt="logo"  class=" "/>
    </div>
    <div  class="" style="    right: 5px;position: absolute;">
        <img src="../assets/img/user.png" alt="menu"/>
    </div> 
    
</div>
<div *ngIf="menuShow" class="mb_menu">
    <div *ngFor="let item of menu"  [ngClass]="item.active ? 'menu-div row menu-active':'menu-div row'">
        <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mb_menu_div" >
           
            <span [ngClass]="item.active ? 'menu-labels highlight' : 'menu-labels'" style="width: 100%;">
                <img src="../assets/img/{{item.icon.split('.')[0]}}_mb.{{item.icon.split('.')[1]}}" class="menu-logo logo-padding" alt="logo" style="align-items: center;color: #3D67FF;
                padding:10px;width:35px;"/>
                <label style="color:black;line-height: .75;vertical-align: text-bottom;padding-left: .5rem;;
                margin-right: .5rem;">{{item.name}}</label>
                <span><img style="float:right;margin-right: .1rem;padding-top:1.2rem;" src="../assets/img/dwn_arrow.png" alt="arrow"/></span>
            </span>
        </span>
    </div>
</div>
<hr style="margin-bottom: 10%;"/>