<div class="row" >
  <div class="col-lg-2 col-md-3 col-sm-5 col-12 border-right" style="padding:0;">
      <app-sidemenu></app-sidemenu>
  </div>
  <div class="col-lg-10 col-md-9 col-sm-7 col-12">

  <div class="row" style="margin-left: 2.5%;" >
    <app-app-header></app-app-header>
  <div class="row" style="margin-left: 3%;margin-top: 2rem;max-width: 700px;">
    <div class="col-lg-8 col-md-8 col-sm-3 col-12">
      <h1 class="">
        <span class="poppins-medium-log-cabin-30px">Listing of Opportunity</span>
      </h1>
    </div>
  </div>
  <!-- <div class="row">
    <h1 class="title poppins-medium-log-cabin-30px">
      <span class="poppins-medium-log-cabin-30px">Listing of Opportunity</span>
    </h1>
    <div class="profile">
      <div class="user">
        <img
          class="photo"
          src="../assets/img/photo-1.png"
        />
        <img
          class="fichevron-down"
          src="../assets/img/fi-chevron-down-1.png"
        />
      </div>
      <img
        class="divider"
        src="../assets/img/divider-2.png"
      />
      <img
        class="search-comment-notification"
        src="../assets/img/search-comment-notification-1.png"
      />
    </div>
    <div class="back-to-normal">
      <img
        class="uarrow-right"
        src="../assets/img/u-arrow-right-1.png"
      />
      <div class="back-to poppins-normal-manatee-11px">
        <span class="poppins-normal-manatee-11px">Back to Home Page</span>
      </div>
    </div>
    <img
      class="divider-1"
      src="../assets/img/divider-1.png"
    />
    </div> -->
      <div  class="row" style="margin-top:1rem;margin-left: 3%;">
          <div class="col-lg-6 col-md-6 col-sm-4 col-xs-6" [ngClass]="{'display-inline' : isDesktopMode}">
            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-6" style="min-width: 226px;margin-bottom:1rem;padding-right: 3%;">
              <div class="group-2156" [hidden]="isMobileView">
                <div class="" >
                  <img
                  class="utrophy"
                  src="../assets/img/u-trophy-1.png"
                />
                  <span class="total-opportunities-created-4">Total Opportunities Created 4</span>
                </div>
                
              </div>
              <div [hidden]="!isMobileView" class="submit-new-oppor" routerLink="/opportunity-detail">
                <span class="poppins-medium-royal-blue-12px">Submit New Opportunity</span>
              </div>
            </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="min-width: 226px;">
            <div class="group-2156" [hidden]="!isMobileView">
              <div class="" >
                <img
                class="utrophy"
                src="../assets/img/u-trophy-1.png"
              />
                <span class="total-opportunities-created-4">Total Opportunities Created 4</span>
              </div>
              
            </div>
            <div class="group-2156" [hidden]="isMobileView">
              <div class="">
                <img class="utrophy" src="../assets/img/u-trophy-2.png" />
                <span class="total-opportunities-created-4 poppins-medium-royal-blue-12px">Active Opportunities 2</span>
              </div>   
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-6" >
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="min-width: 198px;">
            <div class="">
              <!-- <img
                class="btn-nextnormal"
                src="../assets/img/btn-next-normal-1.png"
              /> -->
              <div [hidden]="isMobileView" class="submit-new-oppor" routerLink="/opportunity-detail">
                <span class="poppins-medium-royal-blue-12px">Submit New Opportunity</span>
              </div>
              <div class="group-2156" [hidden]="!isMobileView" style="margin-top: 4%;">
                <div class="">
                  <img class="utrophy" src="../assets/img/u-trophy-2.png" />
                  <span class="total-opportunities-created-4 poppins-medium-royal-blue-12px">Active Opportunities 2</span>
                </div>   
              </div>
            </div>
          </div>
        </div>
      </div>
      <div  style="margin-top:1rem;">
        <div class="row" [ngClass]="{'row-bg' : rowindex === 1, 'max-width' : isDesktopMode}" *ngFor="let row of opportunitylist; let rowindex = index"   style="margin-left: 3%;" >
          <div [hidden]="rowindex != 0" class="row" style="margin-bottom:1rem;">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12" style="color: #A8ABBB;padding-top:1.2rem;">
              {{row.detail}}
            </div>
            <div [hidden]="!isDesktopMode" class="col-lg-2 col-md-1 col-sm-6 col-xs-6" style="color: #A8ABBB;padding-top:1.2rem;;margin-left:.3rem;">{{row.date}}</div>
            <div [hidden]="!isDesktopMode" class="col-lg-1 col-md-1 col-sm-6 col-xs-6" style="color: #A8ABBB;padding-top:1.2rem;">{{row.status}}</div>
            <div [hidden]="isMobileView" class="col-lg-1 col-md-6 col-sm-6 col-xs-6" style="color: #A8ABBB;padding-top:1.2rem;" >Result</div>
            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-6"></div>
           
          </div>
          <div class="row" style="margin-bottom:1rem;">
            <img
            class="divider-2"
            src="../assets/img/divider-3.png"
          />
          </div>
          <div [hidden]="rowindex == 0" class="col-lg-4 col-md-7 col-sm-4 col-12 "  [ngClass]="{'desktop-width' : isDesktopMode == true}">
            <div class="row"  [ngClass]="{'pad-left-0':isMobileView}" style="padding:.6rem;vertical-align: middle;line-height: 20px;" >
              <div [hidden]="rowindex == 0 || isMobileView" class="col-lg-2 col-md-2 col-sm-2 col-2">
                <!-- <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> <img class="image" src="../assets/img/{{row.image}}" /></span> -->
                <img class="image" [ngClass]="{'mar-right-5': isMobileView == true}" src="../assets/img/{{row.image}}" />
                <span [hidden]="!isMobileView" class="header-text mb-view" >{{row.header}}</span>
                <span [hidden]="!isMobileView" class="view-btn" style="margin-left:5%;float: right;">{{row.btntext}}</span>
                <span [hidden]="!isMobileView" class="header-detail mb-view" style="margin-top: 6%;">{{row.detail}}</span>
                <div [hidden]="!isMobileView" style="margin-left: 18%;margin-top:2%">
                  <span class="status-btn" style="margin-right: 3%;;">Open</span>
                  <span style="margin-right: 3%;;">{{row.date}}</span>
                  <span>{{row.status}}</span>
                </div>
               
              </div>
              <div class="col-12" [hidden]="!isMobileView" >
                <div class="row">
                  <div class="col-2">
                    <img class="image"  src="../assets/img/{{row.image}}" />
                  </div>
                  <div class="col-9" style="padding-left: 8%;">
                      <div style="margin-bottom: 5%;font-size: 14px;font-weight: 500;">{{row.header}}</div>
                      <div style="margin-bottom: 5%;font-size: 12px;;">{{row.detail}}</div>
                  </div>
                  <div class="col-1">
                    <div class="view-btn">{{row.btntext}}</div>
                  </div>
                </div>  
                <div class="row" >
                  <div class="col-2"></div>
                  <div  class="col-10" style="font-size: 12px;padding-left: 8%;">
                    <span class="status-btn" style="margin-bottom: 2%;">Open</span>
                    <span style="padding-right: 3%;padding-left: 3%;">{{row.date}}</span>
                    <span>{{row.status}}</span>
                  </div>
                </div>
              </div>
              <div [hidden]="isMobileView" class="col-lg-9 col-md-10 col-sm-8 col-xs-8 " style="    padding-left: 10%;">
                <p ><span class="header-text">{{row.header}}</span></p>
                <p><span class="header-detail">{{row.detail}}</span></p>
                <div [hidden]="isDesktopMode" class="row">
                  <div class="col-lg-9 col-md-3 col-sm-6 col-xs-6">
                    <div class="status-btn" >
                      <span class="">Open</span>
                  </div>
                  </div>
                  <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6" style="margin-top:2%;">
                    <span>{{row.date}}</span>
                  </div>
                </div> 
              </div>
            </div>
          </div>
          <div  [hidden]="rowindex == 0 || !isDesktopMode || isMobileView" class="col-lg-2 col-md-4 col-sm-2 col-xs-2"  style="padding-top:1.2rem;height: 90%;">{{row.date}}</div>
          <div  [hidden]="rowindex == 0 || !isDesktopMode || isMobileView" class="col-lg-1 col-md-4 col-sm-2 col-xs-2"  style="padding-top:.8rem;height: 90%;">
            <div class="status-btn" >
              <div class="">
                <span><span class="">Open</span> </span>
              </div>
            </div>
            </div>
          <div [hidden]="rowindex == 0 || isMobileView" class="col-lg-1 col-md-3 col-sm-2 col-xs-2 "  style="padding-top:1.2rem;height: 90%;">{{row.status}}</div>
          <div [hidden]="rowindex == 0 || isMobileView" class="col-lg-1 col-md-1 col-sm-2 col-xs-2"  style="padding-top:.8rem;height: 90%;">
            <div class="view-btn"  >
            <div class="">
              <span><span class="">{{row.btntext}}</span> </span>
            </div>
          </div></div>
        </div>
      </div>
    </div>

      <!-- <div [hidden]="!isTabletMode" class="row" style="margin-left: 3%;width:100%">
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:2rem;">
          <div class="col-lg-6 col-md-6 col-sm-4 col-xs-6">
            <div class="group-2156">
              <div class="">
                <img
                class="utrophy"
                src="../assets/img/u-trophy-1.png"
              />
                <span class="total-opportunities-created-4">Total Opportunities Created 4</span>
              </div>
              
            </div>
          </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="group-2156">
            <div class="">
              <img class="utrophy" src="../assets/img/u-trophy-2.png" />
              <span class="total-opportunities-created-4 poppins-medium-royal-blue-12px">Active Opportunities 2</span>
            </div>   
          </div>
        </div>
      </div>
      <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="group-2156">
             <img
              class="btn-nextnormal"
              src="../assets/img/btn-next-normal-1.png"
            /> 
            <div class="submit-new-oppor">
              <span class="poppins-medium-royal-blue-12px">Submit New Opportunity</span>
            </div>
          </div>
        </div>
      </div>
      </div> -->
      <!-- <div [hidden]="!isTabletMode" style="margin-top:20rem;">
        <div class="row"  *ngFor="let row of opportunitylist; let rowindex = index"   style="margin-left: 3%;width:100%;height:5rem;">
          <div [hidden]="rowindex != 0" class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="color: #A8ABBB;max-width: 22%;padding-top:1.2rem;">
              {{row.detail}}
            </div>
            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-6" style="color: #A8ABBB;padding-top:1.2rem;;margin-left:.3rem;">{{row.date}}</div>
            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-6" style="color: #A8ABBB;padding-top:1.2rem;">{{row.status}}</div>
            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-6" style="color: #A8ABBB;padding-top:1.2rem;" >Result</div>
            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-6"></div>
            <img
                class="divider-2"
                src="../assets/img/divider-3.png"
              />
          </div>
          <div [hidden]="rowindex == 0" class="col-lg-5 col-md-4 col-sm-6 col-xs-6" style="max-width: 22%;height: 90%;" [ngClass]="{'row-bg' : rowindex === 1}">
            <div class="row" style="padding:.6rem;vertical-align: middle;line-height: 20px;">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <img class="image" src="../assets/img/{{row.image}}" />
              </div>
              <div class="col-lg-9 col-md-4 col-sm-6 col-xs-6">
                <p><span class="">{{row.header}}</span></p>
                <p><span class="">{{row.detail}}</span></p>
              </div>
            </div>
           
          </div>
          <div [hidden]="rowindex == 0" class="col-lg-1 col-md-4 col-sm-6 col-xs-6" [ngClass]="{'row-bg' : rowindex === 1}" style="padding-top:1.2rem;height: 90%;">{{row.date}}</div>
          <div [hidden]="rowindex == 0" class="col-lg-1 col-md-4 col-sm-6 col-xs-6" [ngClass]="{'row-bg' : rowindex === 1}" style="padding-top:.8rem;height: 90%;">
            <div class="status-btn" >
              <div class="">
                <span><span class="">Open</span> </span>
              </div>
            </div>
            </div>
          <div [hidden]="rowindex == 0" class="col-lg-1 col-md-4 col-sm-6 col-xs-6" [ngClass]="{'row-bg' : rowindex === 1}" style="padding-top:1.2rem;height: 90%;">{{row.status}}</div>
          <div [hidden]="rowindex == 0" class="col-lg-1 col-md-4 col-sm-6 col-xs-6" [ngClass]="{'row-bg' : rowindex === 1}" style="padding-top:.8rem;height: 90%;">
            <div class="view-btn">
            <div class="">
              <span><span class="">{{row.btntext}}</span> </span>
            </div>
          </div></div>
        </div>
      </div> -->

    <!-- <div class="overlap-group1"> -->
      <!-- <img
        class="clarity cursor-arrow-solid"
        src="../assets/img/clarity-cursor-arrow-solid-1.png"
      /> 
      <div class="group-2224">
        <div class="group-2154 poppins-normal-boulder-12px">
           <div class="group-2128">
            <div class="group-2127 poppins-medium-spun-pearl-12px">
              <div class="list-of-opportunities">
                <span class="poppins-medium-spun-pearl-12px">List of Opportunities</span>
              </div>
              <div class="publishing-date">
                <span class="poppins-medium-spun-pearl-12px">Publishing Date</span>
              </div>
              <div class="status"><span class="poppins-medium-spun-pearl-12px">Status</span></div>
              <div class="results"><span class="poppins-medium-spun-pearl-12px">Results</span></div>
            </div>
            <img
              class="divider-2"
              src="../assets/img/divider-3.png"
            />
          </div> 
          <div class="row" *ngFor="let row of opportunitylist">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <div class="group-2153" >
                <div class="address-1"><span class="poppins-normal-boulder-12px">{{row.date}}</span></div>
                <div class="awaiting-closures">
                  <span class="poppins-normal-boulder-12px">{{row.status}}</span>
                </div>
                <div class="radio-1 border-1px-mystic">
                  <div class="view valign-text-middle poppins-normal-log-cabin-12px">
                    <span><span class="poppins-normal-log-cabin-12px">{{row.btntext}}</span> </span>
                  </div>
                </div>
                <div class="group-2118-1">
                  <div class="group-2072-1">
                    <p class="get-radio-plays-on-radio-city poppins-medium-log-cabin-14px">
                      <span class="poppins-medium-log-cabin-14px">{{row.header}}</span>
                    </p>
                    <p class="submission-open-till-20-feb-2021 poppins-normal-boulder-12px">
                      <span class="poppins-normal-boulder-12px">{{row.detail}}</span>
                    </p>
                  </div>
                  <img
                    class="image"
                    src="../assets/img/{{row.image}}"
                  />
                </div>
                <div class="days-left-1">
                  <div class="open valign-text-middle poppins-normal-white-12px">
                    <span><span class="poppins-normal-white-12px">Open</span> </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
          <div class="group-2152">
            <div class="address-2"><span class="poppins-normal-boulder-12px">12 Dec 2020</span></div>
            <div class="pending"><span class="poppins-normal-boulder-12px">Pending</span></div>
            <div class="radio-2 border-1px-mystic">
              <div class="view valign-text-middle poppins-normal-log-cabin-12px">
                <span><span class="poppins-normal-log-cabin-12px">View</span> </span>
              </div>
            </div>
            <div class="group-2151">
              <p class="get-sano-in-big-fm poppins-medium-log-cabin-14px">
                <span class="poppins-medium-log-cabin-14px">Get Sano in Big FM</span>
              </p>
              <p class="submission-open-till-20-feb-2021-1 poppins-normal-boulder-12px">
                <span class="poppins-normal-boulder-12px">Submission Open till 20 Feb 2021</span>
              </p>
              <img
                class="image"
                src="../assets/img/image-2.png"
              />
            </div>
            <div class="days-left-2">
              <div class="open valign-text-middle poppins-normal-white-12px">
                <span><span class="poppins-normal-white-12px">Open</span> </span>
              </div>
            </div>
          </div>
          <div class="group-2123">
            <div class="address"><span class="poppins-normal-boulder-12px">12 Dec 2020</span></div>
            <div class="declared"><span class="poppins-normal-boulder-12px">Declared</span></div>
            <div class="radio border-1px-mystic">
              <div class="view valign-text-middle poppins-normal-log-cabin-12px">
                <span><span class="poppins-normal-log-cabin-12px">View</span> </span>
              </div>
            </div>
            <div class="group-2118">
              <div class="group-2072">
                <p class="create-song-for-ar-t-derc poppins-medium-log-cabin-14px">
                  <span class="poppins-medium-log-cabin-14px">Create Song for ArT Derc</span>
                </p>
                <p class="submission-open-till-20-feb-2021 poppins-normal-boulder-12px">
                  <span class="poppins-normal-boulder-12px">Submission Open till 20 Feb 2021</span>
                </p>
              </div>
              <div class="overlap-group">
                <img
                  class="image"
                  src="../assets/img/image-4.png"
                />
              </div>
            </div>
            <div class="days-left">
              <div class="closed valign-text-middle poppins-normal-white-12px">
                <span><span class="poppins-normal-white-12px">Closed</span> </span>
              </div>
            </div>
          </div> -->
          <!-- <div class="group-2124">
            <div class="address"><span class="poppins-normal-boulder-12px">12 Dec 2020</span></div>
            <div class="declared"><span class="poppins-normal-boulder-12px">Declared</span></div>
            <div class="radio border-1px-mystic">
              <div class="view valign-text-middle poppins-normal-log-cabin-12px">
                <span><span class="poppins-normal-log-cabin-12px">View</span> </span>
              </div>
            </div>
            <div class="group-2118">
              <div class="group-2072">
                <div class="love-b-present-singer-hub poppins-medium-log-cabin-14px">
                  <span class="poppins-medium-log-cabin-14px">LoveB Present Singer Hub</span>
                </div>
                <p class="submission-open-till-20-feb-2021 poppins-normal-boulder-12px">
                  <span class="poppins-normal-boulder-12px">Submission Open till 20 Feb 2021</span>
                </p>
              </div>
              <div class="overlap-group">
                <img
                  class="image"
                  src="../assets/img/image-6.png"
                />
              </div>
            </div>
            <div class="days-left">
              <div class="closed valign-text-middle poppins-normal-white-12px">
                <span><span class="poppins-normal-white-12px">Closed</span> </span>
              </div>
            </div>
          </div>
        </div>
        <div class="group-2223">
          <img
            class="btn-nextnormal"
            src="../assets/img/btn-next-normal-1.png"
          />
          <div class="group-2156">
            <div class="total-opportunities-created-4 poppins-medium-manatee-12px">
              <span class="poppins-medium-manatee-12px">Total Opportunities Created 4</span>
            </div>
            <img
              class="utrophy"
              src="../assets/img/u-trophy-1.png"
            />
          </div>
          <div class="group-2168">
            <div class="active-opportunities-2 poppins-medium-royal-blue-12px">
              <span class="poppins-medium-royal-blue-12px">Active Opportunities 2</span>
            </div>
            <img
              class="utrophy-1"
              src="../assets/img/u-trophy-2.png"
            />
          </div>
        </div> -->
      <!-- </div> -->
    <!-- </div> -->